<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание поста</title>
    <link rel="stylesheet" href="/static-files/main.css">
    <link rel="stylesheet" href="/static-files/createpost.css"> 

</head>
<body>

    <h1 class="header">Создать пост</h1>

    <form action="/create_notes" method="post">
        <!-- Блок title -->
        <div class="input-block">  <!-- div это блок -->
            <span  class="textsy">title</span>
            <div>
                <input name="title" type="text">
            </div>
        </div>

        <!-- Блок content -->
        <div class="input-block">
            <span  class="textsy">content</span>
            <div>
                <input name="content" type="text">
            </div>
        </div>

        <!-- Блок кнопки -->
        <div class="input-block">
            <input type="submit" value="Добавить запись">
        </div>

    </form>

</body>
</html>